@import '~modern-normalize/modern-normalize.css';
@import './styles/base';
@import './styles/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    background-image: radial-gradient(
        circle 833px at 9.4% 18.3%,
        rgba(128, 15, 255, 1) 0%,
        rgba(160, 15, 255, 1) 32.6%,
        rgba(160, 15, 255, 1) 85.7%,
        rgba(128, 15, 255, 1) 100.2%
    );
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 95rem;
    margin: 0 auto;
}

.masonry-container {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 115rem;
    column-count: 1;
    column-gap: 2rem;
    counter-reset: item-counter;

    > * {
        margin-bottom: 2rem;
    }

    @media screen and (min-width: 40rem) {
        column-count: 2;
    }

    @media screen and (min-width: 50rem) {
        column-count: 3;
        column-gap: 4rem;

        > * {
            margin-bottom: 4rem;
        }
    }
}

.flex-column {
    flex-direction: column;
}

@media screen and (min-width: 50rem) {
    .flex-md-row {
        flex-direction: row;
    }
}

@import './styles/utilities';
@import './styles/header';
@import './styles/footer';
@import './styles/forms';
@import './styles/buttons';
@import './styles/links';
@import './styles/snippets';
