.btn {
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: $border-radius;
    padding: 0.6rem 1rem;
    border: none;
    cursor: pointer;
    background-color: $white;
    color: $base-color;
    text-decoration: none;
}
