.form {
    &__group {
        position: relative;
        font-size: 1.6rem;
        margin-bottom: 1rem;

        &.is-invalid {
            .invalid-feedback {
                color: $white;
                padding-top: 0.6rem;
                font-size: 1.2rem;
                position: relative;

                &:before {
                    content: '!';
                    position: relative;
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: darkred;
                    padding-right: 0.5rem;
                }
            }

            .form__input {
                border: 0.1rem solid darkred;
            }
        }
    }

    &__label {
        color: $white;
        position: absolute;
        top: 2.1rem;
        transform: translateY(-50%);
        left: $spacing / 2;
        pointer-events: none;
        transition: all 0.25s;
        will-change: transform;

        &.input-has-val {
            display: none;
        }
    }

    &__input {
        background-color: transparent;
        color: $white;
        border-radius: $border-radius;
        border: 0.1rem solid $white;
        padding: $spacing / 2;
        transition: padding-top 0.2s;

        &:focus,
        &:active {
            padding-top: $spacing * 1.5;
        }

        &:focus + .form__label,
        &:active + .form__label {
            font-size: 1rem;
            transform: translateY(-110%);
            display: block;
        }
    }

    button[type='submit'] {
        float: right;
    }
}
