.snippet {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: $white;
    border: 1px solid $white;
    border-radius: $border-radius;
    padding: 2rem;

    &__title {
        font-size: 1.6rem;
        margin-top: 0;
    }

    &__description {
        font-size: 1.4rem;
        line-height: 1.4;
    }

    &__postedby {
        display: block;
        font-size: 1.3rem;
        margin-top: auto;
    }

    &__info {
        margin-top: 1.4rem;
        font-size: 1.3rem;

        svg {
            margin-left: 0.3rem;
        }
    }

    &__likes,
    &__comments {
        margin-right: 1rem;
    }

    > svg {
        margin-left: 1rem;
    }
}
