.mt-4 {
    margin-top: 4rem;
}

.mt-1_4 {
    margin-top: 1.4rem;
}

.d-inline-block {
    display: inline-block;
}

@media screen and (min-width: 50rem) {
    .align-md-start {
        align-items: start;
    }
}
